:host {
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
}
.column-layout {
  display: flex;
  flex-direction: column;
}
.group {
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  position: relative;
  min-width: 50px;
  min-height: 50px;
  flex-grow: 1;
  flex-basis: 0;
}
.group_1 {
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  overflow: auto;
  position: relative;
  padding: 16px;
  min-width: 50px;
  min-height: 50px;
  flex-grow: 1;
  flex-basis: 0;
}
.group_2 {
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  position: relative;
  padding: 16px;
  width: 65%;
  min-width: 50px;
  min-height: 50px;
  max-width: 65%;
}
.list {
  height: max-content;
}
.reveal-dash-board {
  height: 100%;
  min-width: 400px;
  min-height: 200px;
  max-height: 100%;
  position: relative;
}
.avatar {
  --ig-size: var(--ig-size-medium);
  --igx-avatar-background: transparent;
}
.text {
  height: max-content;
  min-width: min-content;
}
.icon {
  --size: 24px;
  font-size: 24px;
  width: 24px;
  height: 24px;
}
.text_1 {
  width: 276px;
  height: max-content;
  min-width: min-content;
  max-width: 276px;
}
.text_2 {
  width: 321px;
  height: max-content;
  min-width: min-content;
  max-width: 321px;
}
